$body-color: white;

body {
  color: $body-color;
  font-family: sans-serif;
}

#info {
  position: absolute;
  padding: 12px;
  top: 40px;
  left: 23px;
  width: 20%;
  height: 60%;
  text-align: left;
  z-index: 100;
  display: block;
  background-color: #123121ee;
  border-radius: 10px;
  border:1px solid #ffffffee;
}
